.root {
    -fx-background-color: gainsboro;
}

.table-view {
    -fx-font-size: 14;
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-max-width: 500;
}

.table-view .placeholder {
    -fx-background-color: gainsboro;
}

.table-view .column-header {
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .table-column {
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #ff8c66;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #F24517;
    -fx-text-fill: white;
}

.table-row-cell:selected .text {
    /*-fx-fill: white;*/
    -fx-font-weight: bold;
}

.table-row-cell:empty {
    -fx-background-color: gainsboro;
}

.table-row-cell:empty.table-cell {
    -fx-border-width: 0px;
}

/*Hide table header */
/*.column-header-background {*/
/*    visibility: hidden;*/
/*    -fx-padding: -1em;*/
/*}*/

.table-row-cell .button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-label-padding: 0;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.table-row-cell:selected .button {
    -fx-text-fill: #F24517;
    -fx-background-color: white;
}

.table-row-cell .button:hover {
    -fx-cursor: hand;
}

.size {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#color-label {
    -fx-text-fill: #d9390d;
}

.text-field {
    -fx-font-size: 16;
}

.combo-box {
    -fx-font-size: 14;
}

.combo-box .list-view {
    -fx-pref-width: 250;
}

.empty {
    -fx-text-box-border: #F24517;
    -fx-focus-color: #F24517;
    -fx-control-inner-background: #ffe6e6;
}