#dialog {
    -fx-background-color: gainsboro;
    -fx-border-color: #F24517;
    -fx-border-width: 1
}

#titleBar {
    -fx-background-color: #F24517;
}

#title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-font-family: "Segoe UI";
}

#bClose {
    -fx-font-size: 12;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: #F24517;
    -fx-background-color: linear-gradient(white, #bebebe);
}

#bClose:hover {
    -fx-cursor: hand;
}