.label {
    -fx-font-family: "Segoe UI";
}

.active {
    -fx-text-fill: #3399ff;
}

.clickable:hover {
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}