.table-view {
    -fx-font-size: 16;
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-max-width: 500;
}

.table-view .placeholder {
    -fx-background-color: #f4f4f4;
}

.table-view .column-header {
    -fx-table-cell-border-color: transparent;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .table-column {
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #ffcba9;
}

.table-row-cell:empty {
    -fx-background-color: #f4f4f4;
}

.table-row-cell:empty.table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #F24517;
    -fx-text-fill: white !important;
}

.table-row-cell:selected .text {
    -fx-font-weight: bold;
}

#cStatus .label {
    -fx-alignment: CENTER;
}

#cCount .label {
    -fx-alignment: CENTER;
}

#cStatus {
    -fx-alignment: CENTER;
}

#cCount {
    -fx-alignment: CENTER;
}

.chart {
    -fx-font-size: 16;
}

.data0.chart-bar {
    -fx-background-color: #58D68D;
}

.data1.chart-bar {
    -fx-background-color: #F4D03F;
}

.data2.chart-bar {
    -fx-background-color: #F1948A;
}

.data3.chart-bar {
    -fx-background-color: #85C1E9;
}

.default-color0.chart-pie {
    -fx-pie-color: #58D68D;
}

.default-color1.chart-pie {
    -fx-pie-color: #F4D03F;
}

.default-color2.chart-pie {
    -fx-pie-color: #F1948A;
}

.default-color3.chart-pie {
    -fx-pie-color: #85C1E9;
}

.default-color4.chart-pie {
    -fx-pie-color: #58D68D;
}

.default-color5.chart-pie {
    -fx-pie-color: #F4D03F;
}

.default-color6.chart-pie {
    -fx-pie-color: #F1948A;
}

.default-color7.chart-pie {
    -fx-pie-color: #85C1E9;
}