.button {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.combo-box {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}