#github {
    -fx-text-fill: #0088CC;
}

#github:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

#author {
    -fx-text-fill: #0088CC;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16;
}